body {
  background-color: rgb(250,250,250);
}

wec-dashboard-page {
  display: block;
}

.centering {
  display: flex;
  justify-content: center;
}

.project-list {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-gap: 10px 10px;
}
